@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Reset (reinicia los estilos por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Properties o Variables */
:root { /*  Es más especifico que el html */
    --mi-color-de-fondo: #ddd;
    --valor-cero: 0;
    --color-de-titulos: crimson;
    --color-de-links: blueviolet;
}

html {
    font-size: 100%; /* 16px */
}


body {
    font-family: "Roboto", sans-serif;
    background-color: var(--mi-color-de-fondo, red);
}

/* las variables pueden estar también en cualquier regla CSS */
.contenedor {
    --mi-color-de-fondo: #bbb;
    background-color: var(--mi-color-de-fondo);
    width: 70vw;
    margin: auto;
    padding: 2rem; /* 32px */
}
/* cipchk.cssrem */
/* https://nekocalc.com/es/px-a-rem-conversor */

.grupo {
    background-color: lightpink;
    margin: 1.25rem;
}

/* ! :first-child | :last-child */
/* Selecionar el primero de los parrafos dentro del div .parrafos */
.parrafos p:first-child {
    color: crimson;
}
/* Selecionar el último de los parrafos dentro del div .parrafos */
.parrafos p:last-child {
    color: blueviolet;
}

/* ! :first-of-type | :last-of-type */
/* quiero de dentro de elemento el primer p que aparece */
.elementos p:first-of-type {
    background-color: orange;
}

.elementos div:first-of-type {
    background-color: darkolivegreen;
}

.elementos span:last-of-type {
    background-color: crimson;
}

.elementos div:last-of-type {
    background-color: blue;
}

/* :nth-child() | :nth-last-child() */
/* Selecciono de li, el tercero */
.lista li:nth-child(3) {
    color: pink;
    background-color: black;
}

.lista li:nth-child(7) {
    color: yellow;
    background-color: black;
}
/* 2n -> todos los pares cada 2 (even */
/* 4n -> todos los pares cada 4 */
/* 2n+1 -> todos los impares (odd) */
.lista li:nth-child(even) { /* elementos pares */
    color: orange;
    background-color: black;
}

/* ! :nth-of-type() | :nth-last-of-type() */
/* empieza a buscar de arriba para abajo */
.lista2 span:nth-of-type(2) {
    color: darkkhaki;
    background-color: black;
}
/* empieza a buscar de abajo para arriba */
.lista2 p:nth-last-of-type(2) {
    color: darkgoldenrod;
    background-color: black;
}