@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset (reinicia los estilos por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h2 {
    color: crimson;
}

h3 {
    color: purple;
}

/* ! EM (em) element */
/* EM es relativa a su <etiqueta>, <contenedor>, <body>, <html> */
/* ! SIEMPRE BUSCA EL FONT SIZE de la etiqueta, contenedor, body y html o busca el por defecto del navegador. (16px valor por defecto del browser) */

html {
    font-size: 100%; /* 16px */
}

body {
    font-size: 10px;
}


article.opinion {
    font-size: 2em; /* 16px -> 2 * 16px -> 32px */
    padding: 1em;
    margin: .5em 1em 2em 3em;
    border: 2px solid crimson;
}

h2.titulo {
    font-size: 2em; /* (32px article) * 2 */
}

/* ! REM (rem) root element -> html */

p.parrafo {
    font-size: 1rem; /* html -> fz -> 16px * 1 -> 16px */
    margin: 3rem; /* html -> fz -> 16px * 3 -> 48px */
}

/* IDEAL --> todo con em */
/* EL MEJOR -> em para font-size */
/* EL MEJOR -> rem para modelo caja */
/* EL MEJOR -> tengo tamaño pequeño. Mitad html (16px/2) -> px */

/* ! Porcentajes (%) y Viewport (vw, vh) */

/* Viewport (rem). Es el elemento del cual se van a fijar el resto para tomar un tamaño. Tamaño del viewport  */
/* Porcentajes (em). Está vinculado al contenedor */

.papa {
    background-color: darkred;
    height: 20px;
    color: white;
    width: 100vw;
}

.hijo {
    background-color: darkblue;
    width: 25vw;
}

.papa-porcentaje {
    background-color: darkorange;
    width: 500px;
    height: 300px;
}

.hijo-porcentaje {
    background-color: darkmagenta;
    width: 50%; /* 500px -> 50% -> 250px */
    height: 20%; /* 300px -> 20% -> 60px */
}

/* ------------------------------ */

.padre-porcen-vs-view {
    width: 500px;
    background-color: blueviolet;
    height: 200px;
}

.hijo-porcen {
    width: 50%;
    background-color: lightblue;
}

.hijo-viewport {
    width: 50vw;
    background-color: lightcoral;
}