* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: #ddd;
    font-size: 1.25rem;
}

/* Para aplicar CSS Grid tengo que hacerlo sobre el padre (como flexbox) */
/* filas -> tracks */
/* columnas -> tracks */
.contenedor {
    display: grid; /* Convierto al contenedor en un contenedor GRID */
    grid-template-columns: repeat(4, 12.5rem);
    grid-template-rows: repeat(2, 12.5rem);
    gap: .5rem;


    background-color: mediumseagreen;
    /* ! manejo horizontal */
    justify-content: start; /* start (default) | end | center | space-between | space-around | space-evenly */
    /* ! manejo horizontal de la celda */
    justify-items: stretch; /* strech (default) | start | end | center */

    /* ! manejo vertical */
    align-content: start; /* start (default) | end | center | space-between | space-around | space-evenly */ 
    /* ! manejo vertical de la celda */
    align-items: stretch; /* strech  (default) | start | end | center */

    height: 43.75rem;
}

.elemento {
    background-color: mediumorchid;
    width: 5rem;
    height: 5rem;
}

.elm1 {
    justify-self: start; /* start (default) */
}

.elm2 {
    justify-self: end; /* horizontalmente */
}

.elm3 {
    justify-self: center; /* horizontalmente */
}

.elm4 {
    justify-self: center; /* horizontalmente */
    align-self: center; /* verticalmente */
}

.elm5 {
    justify-self: end; /* horizontalmente */
    align-self: end;  /* verticalmente */
}